:root {
  --grey: #eeeeee;
  --winter: #aad8d3;
  --turquoise: #00adb5;
  --black: #393e46;
  --white: #ffffff;
  --green: #00bc95;
}

body {
  background-color: var(--white);
}

.people_list {
  padding-bottom: 1em;
}

.card {
  border-radius: 4px;
  box-shadow: 0px 4px 40px 0px #00000014;
  margin-bottom: 20px;
  transition: 1s ease all;
  padding-bottom: 0px;
  cursor: pointer;
}

.card:hover{
  box-shadow: 0px 0px 15px #9e9c9c;
}

.big_card {
  margin-top: 5em;
  margin-bottom: 5em;
}

.company {
  font-weight: 100;
  color: #737373FF;
  padding-right: 10px;
}

.city {
  font-weight: 100;
  color: #737373FF;
  padding-right: 10px;
  margin-top: -7em;
}

.company_name {
  /* padding-top: 10px; */
}

.details {
  font-weight: 100;
  color: #737373FF;
  padding-right: 10px;
  text-align: left;
}

.first {
  /* float: left; */
  /* text-align: left; */
  /* padding-left: 5em; */
  padding-top: 20px;
  font-size: medium;
}

.second {
  /* margin-left: 34em; */
  padding-top: 10px;
  font-size: medium;
  /* text-align: left; */
}


.searchbox {
  text-align: right;
  margin-right: 1em;
  margin-left: 1em;
}

.search_input {
  height: 2.3em;
  margin-right: 2px;
}

.search_button {
  height: 2.3em;
  background: var(--green);
  color: var(--white);
}

.sort {
  text-align: left;
  margin-top: -0.5em;
}